<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Đăng nhập</h2>
    <form method="POST">
        <label>Email:</label>
        <input type="email" name="email" required><br>
        <label>Mật khẩu:</label>
        <input type="password" name="password" required><br>
        <button type="submit">Đăng nhập</button>
    </form>
    <a href="{{ url_for('forgot_password') }}" class="btn btn-link"><button>Quên mật khẩu</button></a><br>
    <a href="{{ url_for('register') }}"><button>Đăng ký</button></a>
</body>
</html>
